<nav>
  <div class="navbarcontent">
    <div class="nav_left">
      <a href="/"><img src="../assets/logo.png" alt="" /></a>
      <form>
        <input
          type="number"
          name="newZip"
          id="newZip"
          [(ngModel)]="newZip"
          (change)="search(newZip)"
          placeholder="Enter Zip Code"
        />
      </form>
      <!-- <mat-slide-toggle color="primary"></mat-slide-toggle> -->
    </div>
    <div class="nav_right">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a
            href="https://github.com/justin-mcclain/portfolio/tree/main/Weather/client"
            target="_blank"
            rel="noreferrer"
          >
            GitHub
          </a>
        </li>
        <li>
          <a href="/sources">External Sources</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="recents">
  <div class="recentcities">
    <p>Recent Cities:</p>
    <ul>
      <li *ngFor="let city of namedCityList">
        <a href="/weather/current/{{ city.name }}/{{ city.lat }}/{{ city.lon }}"
          >{{ city.name }}, {{ city.state }}</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <router-outlet> </router-outlet>
</div>

