$black: #1e2023;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #f7f7f7;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

nav {
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width: 100vw;
	background-color: $black;
	.navbarcontent {
		display: flex;
		align-items: center;
		gap: 200px;
		.nav_left {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			img {
				width: auto;
				height: 3rem;
			}
			input[type="number"] {
				width: 300px;
				height: 35px;
				text-indent: 17px;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		.nav_right {
			a {
				color: white;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
				text-underline-offset: 0.5rem;
				text-decoration-color: #f25b2d;
			}
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1.5rem;
				list-style: none;
			}
		}
	}
}

.recents {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e2023;
	.recentcities {
		padding: 0px 5px;
		position: relative;
		width: 700px;
		white-space: nowrap;
		p {
			position: absolute;
			font-size: 11px;
			bottom: 20px;
			left: 10px;
			color: #f25b2d;
		}
		a,
		ul,
		li {
			height: 31px;
			line-height: 35px;
		}
		a {
			text-decoration: none;
			color: white;
		}
		ul {
			display: flex;
		}
		li {
			font-size: 12px;
			list-style: none;
			padding: 0 5px;
		}
		li:hover {
			background-color: #f25b2d;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 221px);
}

#alert {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	color: white;
	width: 100vw;
	padding: 5px;
	margin: 0px 10px;
	.alertcontent {
		width: 800px;
		text-align: center;
		position: relative;
		p {
			font-size: 0.75rem;
		}
		img {
			opacity: 50%;
			position: absolute;
			font-size: 0.75rem;
			top: 3px;
			left: 740px;
			cursor: pointer;
			width: 10px;
			height: auto;
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
				brightness(109%) contrast(111%);
		}
		img:hover {
			opacity: 100%;
		}
	}
}

.header {
	text-align: center;
	margin: 20px 0;
	h2 {
		font-size: 24px;
		// border-bottom: 2px solid #f25b2d;
		display: inline;
		position: relative;
		font-weight: 400;
	}
	h2::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 2px;
		width: 97%;
		height: 10px;
		transform: skew(-12deg) translateX(-50%);
		background: rgba(241, 92, 43, 0.5);
		z-index: -1;
	}
}

.landing {
	width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.landheader {
		text-align: center;
		margin: 20px 0;
		h1 {
			font-size: 28px;
			display: inline;
			position: relative;
			font-weight: 400;
		}
		h1::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0px;
			width: 97%;
			height: 14px;
			transform: skew(-12deg) translateX(-50%);
			background: rgba(241, 92, 43, 0.5);
			z-index: -1;
		}
	}
	.content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: auto;
		gap: 10px;
		padding: 10px;
		.current {
			flex: 2;
			background-color: white;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			height: 250px;
			padding: 15px;
			.currentheader {
				text-align: center;
				h2 {
					font-size: 26px;
				}
			}
			.currentinfo {
				display: flex;
				justify-content: space-evenly;
			}
		}
		.icon {
			height: 200px;
			position: relative;
			img {
				// position: absolute;
				// left: 150px;
				// bottom: 75px;
				width: 150px;
				height: 150px;
			}
		}
		.temp {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
			height: 200px;
			.tempnumber {
				display: flex;
				position: relative;
				p::after {
					position: relative;
					top: -30px;
					font-size: 18px;
					content: "\00b0";
				}
			}
			.feelslike {
				font-size: 18px;
			}
			p {
				font-size: 65px;
				display: inline-block;
			}
			p:nth-child(2) {
				font-style: italic;
				font-size: 12px;
				top: 106px;
			}
		}
		.today,
		.tonight {
			display: flex;
			flex: 1;
			height: 250px;
			flex-direction: column;
			// margin: 0 30px;
			padding: 15px;
			h2 {
				font-size: 26px;
				text-align: center;
			}
			p {
				text-transform: capitalize;
			}
		}
		.today {
			background-color: white;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			p {
				line-height: 2em;
			}
			p:nth-child(2) {
				text-align: center;
				line-height: normal;
			}
			img {
				filter: invert(38%) sepia(87%) saturate(2289%)
					hue-rotate(189deg) brightness(99%) contrast(94%);
				width: 12px;
				height: auto;
			}
			.rain {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
		.tonight {
			display: none;
			background-color: #f7f7f7;
		}
	}
	button {
		appearance: button;
		backface-visibility: hidden;
		background-color: $black;
		border-radius: 6px;
		border-width: 0;
		box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
			rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		font-size: 100%;
		height: 44px;
		line-height: 1.15;
		margin: 12px 0 0;
		outline: none;
		overflow: hidden;
		padding: 0 25px;
		position: relative;
		text-align: center;
		text-transform: none;
		transform: translateZ(0);
		transition: all 0.2s, box-shadow 0.08s ease-in;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		width: 140px;
	}
	button:disabled {
		cursor: default;
	}
	button:focus {
		box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
			rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
			rgba(50, 151, 211, 0.3) 0 0 0 4px;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}

.weatherbar {
	.weatherheader {
		height: 100px;
		width: 100vw;
		background-color: white;
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		.weatherheadercontent {
			width: 700px;
			display: flex;
			padding: 0 10px;
			flex-direction: column;
			h2 {
				font-size: 28px;
			}
			p {
				font-size: 12px;
			}
		}
		.weatheroptions {
			position: absolute;
			bottom: 5px;
			ul {
				display: flex;
			}
			li {
				font-size: 14px;
				list-style: none;
				padding: 0 25px;
			}
			a {
				color: black;
				text-decoration: none;
				cursor: pointer;
				display: block;
				position: relative;
			}
			a::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0.1em;
				background-color: #f25b2d;
				opacity: 0;
				transition: opacity 300ms, transform 300ms;
			}
			a:hover::after,
			a:focus::after {
				opacity: 1;
				transform: translate3d(0, 0.2em, 0);
			}
		}
	}
}

.weather {
	padding: 0 10px;
	display: flex;
	gap: 10px;
	.weatherleft,
	.weatherright {
		display: flex;
		flex-direction: column;
	}
	.weatherleft_box {
		position: relative;
		display: flex;
		padding: 10px;
		width: 520px;
		height: auto;
		background-color: white;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		margin-bottom: 10px;
		gap: 10px;
		img {
			width: 120px;
			height: 120px;
		}
		.icon {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.temp {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 140px;
			justify-content: space-between;
			.tempnumber {
				padding-top: 10px;
				display: flex;
				p {
					font-size: 65px;
				}
				p::after {
					position: relative;
					top: -30px;
					font-size: 18px;
					content: "\00b0";
				}
			}
			.feelslike {
				p {
					font-style: italic;
					font-size: 12px;
				}
			}
		}
	}
	.weatherright_box {
		padding: 10px;
		width: 150px;
		height: 150px;
		background-color: white;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		margin-bottom: 10px;
		p {
			text-transform: capitalize;
			font-size: 14px;
			line-height: 25px;
		}
		h4 {
			margin-bottom: 20px;
			font-weight: 500;
		}
		img {
			filter: invert(38%) sepia(87%) saturate(2289%) hue-rotate(189deg)
				brightness(99%) contrast(94%);
			width: 12px;
			height: auto;
		}
	}
	.small-box-left {
		flex: 1;
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: stretch;
	}
	.small-box-right {
		display: flex;
		flex: 1;
		gap: 60px;
		align-items: center;
		.small-box-right-left,
		.small-box-right-right {
			font-size: 14px;
			line-height: 24px;
		}
	}
	.weatherside-header {
		display: flex;
		justify-content: space-between;
		align-content: center;
		p:first-child {
			line-height: normal;
			font-size: 16px;
		}
	}
	.chartheader {
		left: 215px;
		position: absolute;
	}
	.chart {
		width: 100%;
		margin-top: 25px;
		margin-bottom: 10px;
	}
}

.hourly {
	width: 900px;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		text-align: center;
		margin: 20px;
	}
	.desc {
		display: flex;
		align-items: center;
		text-transform: capitalize;
	}
	table {
		font-size: 14px;
		border-collapse: collapse;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		th {
			text-align: left;
			padding: 3px 10px;
			height: 24px;
			white-space: nowrap;
		}
		thead tr {
			background-color: #e7e7e7;
		}
		tr {
			td {
				white-space: nowrap;
				height: 40px;
				padding: 3px 10px;
			}
		}
		tbody tr:nth-child(even) {
			background-color: white;
		}
		img {
			width: 34px;
			height: auto;
		}
	}
}

.forecastheader {
	margin: 20px;
}

.forecast {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.daycast {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 5px;
		// border: 1px solid black;
		height: auto;
		width: 150px;
		padding: 10px;
		background-color: white;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		.daycasttemps {
			display: flex;
			justify-content: center;
			align-items: center;
			p:nth-child(1) {
				color: #f25b2d;
			}
			p:nth-child(2) {
				color: #0d8af5;
			}
		}
		.rain {
			display: flex;
			// align-items: center;
			gap: 5px;
			img {
				filter: invert(38%) sepia(87%) saturate(2289%)
					hue-rotate(189deg) brightness(99%) contrast(94%);
				width: 12px;
				height: auto;
			}
		}
		img {
			width: 100px;
			height: auto;
		}
		h3 {
			font-size: 1rem;
		}
		p {
			text-transform: capitalize;
			text-align: center;
		}
	}
}

.footer {
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	background-color: #1e2023;
	width: 100vw;
	height: 75px;
	position: relative;
	left: 0;
	bottom: 0;
	font-size: 12px;
	font-weight: 200;
	color: white;
	a {
		font-size: 12px;
		font-weight: 200;
		color: white;
	}
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 25px;
	background-color: $black;
	color: white;
	.errorcontent {
		position: relative;
		width: 900px;
	}
	.errormessage {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 20px;
		border-radius: 5px;
		background-color: #f25b2d;
		position: absolute;
		left: 70px;
		top: -20px;
		p {
			font-size: 14px;
		}
		img {
			opacity: 50%;
			position: absolute;
			font-size: 0.75rem;
			top: 4px;
			left: 204px;
			cursor: pointer;
			width: 5px;
			height: auto;
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
				brightness(109%) contrast(111%);
		}
		img:hover {
			opacity: 100%;
		}
	}
}

@media screen and (max-width: 768px) {
	nav {
		padding: 0 5px;
		.navbarcontent {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			.nav_right {
				display: none;
			}
			.nav_left {
				input[type="number"] {
					width: 225px;
					font-size: 16px;
				}
			}
		}
	}
	.landing {
		width: 100%;
		.content {
			flex-direction: column;
			.current {
				width: 100%;
				.tonight {
					display: hidden;
				}
				.currentinfo {
					justify-content: space-between;
					padding: 0 30px;
					.temp {
						padding: 20px 30px;
						p:nth-child(2) {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
	.recents {
		width: 100%;
		.recentcities {
			-webkit-overflow-scrolling: touch;
			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
			white-space: nowrap;
		}
	}
	.weatherbar {
		.weatherheader {
			height: 130px;
			.weatherheadercontent {
				width: 100%;
			}
		}
	}
	.hourly {
		width: 100%;
		.mobilehourly {
			width: 100%;
			padding: 0 15px;
			background-color: white;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			margin-bottom: 10px;
			.content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-transform: capitalize;
				font-size: 14px;
				.content-left {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 10px;
				}
				.content-right {
					display: flex;
					flex-direction: column;
					padding: 0 10px;
					img {
						filter: invert(38%) sepia(87%) saturate(2289%)
							hue-rotate(189deg) brightness(99%) contrast(94%);
						width: 10px;
						height: auto;
					}
				}
				.expand-content {
					padding: 0 10px;
				}
			}
			.extra-content {
				display: flex;
				justify-content: space-between;
				.extra-content-left,
				.extra-content-right {
					flex: 1;
					padding: 10px;
					line-height: 25px;
					font-size: 14px;
				}
				.extra-content-left-upper,
				.extra-content-left-lower,
				.extra-content-right-upper,
				.extra-content-right-lower {
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
	.forecast {
		width: 100%;
		.daycast {
			width: 175px;
		}
	}
	.weather {
		padding: 0 10px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0px;
		.chartheader {
			left: 148px;
		}
		.weatherright {
			flex-direction: row;
			gap: 10px;
			.weatherright_box {
				width: 170px;
			}
		}
		.weatherleft {
			width: 100%;
			padding: 0 10px;
			.weatherleft_box {
				width: 100%;
				flex-direction: column;
				.small-box-left {
					flex-direction: row-reverse;
					justify-content: center;
					gap: 60px;
					padding: 0 20px;
					padding-bottom: 10px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.5);
					.temp {
						.tempnumber {
							padding-top: 20px;
							padding-left: 10px;
						}
					}
				}
				.small-box-right {
					justify-content: center;
					padding: 10px;
				}
			}
		}
	}
	.mobilelanding {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		.landheader {
			text-align: center;
			margin: 20px 0;
			h1 {
				font-size: 28px;
				display: inline;
				position: relative;
				font-weight: 400;
			}
			h1::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0px;
				width: 97%;
				height: 14px;
				transform: skew(-12deg) translateX(-50%);
				background: rgba(241, 92, 43, 0.5);
				z-index: -1;
			}
		}
		.content {
			width: 100%;
			padding: 10px;
			padding-bottom: 30px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;
			background-color: white;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			.icon {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					width: 125px;
					height: auto;
				}
			}
			.temp {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 146px;
				justify-content: space-between;
				.tempnumber {
					padding-top: 10px;
					display: flex;
					p {
						font-size: 65px;
					}
					p::after {
						position: relative;
						top: -30px;
						font-size: 18px;
						content: "\00b0";
					}
				}
				.feeslike {
					p {
						font-style: italic;
						font-size: 12px;
					}
				}
			}
		}
		button {
			appearance: button;
			backface-visibility: hidden;
			background-color: $black;
			border-radius: 6px;
			border-width: 0;
			box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
				rgba(50, 50, 93, 0.1) 0 2px 5px 0,
				rgba(0, 0, 0, 0.07) 0 1px 1px 0;
			box-sizing: border-box;
			color: #fff;
			cursor: pointer;
			font-size: 100%;
			height: 44px;
			line-height: 1.15;
			margin: 12px 0 0;
			outline: none;
			overflow: hidden;
			padding: 0 25px;
			position: relative;
			text-align: center;
			text-transform: none;
			transform: translateZ(0);
			transition: all 0.2s, box-shadow 0.08s ease-in;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			width: 140px;
		}
		button:disabled {
			cursor: default;
		}
		button:focus {
			box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
				rgba(50, 50, 93, 0.2) 0 6px 15px 0,
				rgba(0, 0, 0, 0.1) 0 2px 2px 0,
				rgba(50, 151, 211, 0.3) 0 0 0 4px;
		}
		a {
			text-decoration: none;
			color: #fff;
		}
	}
}
